.vscode
drivers/chromedriver.exe
drivers/chrome-win64_113
PrivateKeys
scripts/Test_codes.ipynb
scripts/.vscode
scripts/__pycache__
scripts/Data
scripts/scripts/.vscode
scripts/scripts/__pycache__
scripts/scripts/spiders/__pycache__
scripts/scripts/spiders/hotforex_stats.py
